@import "itc-american-typewriter.css";

body {
	margin: auto;
	max-width: 960px;
	text-align: center;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/*
 * Header wordmark. Broken into two lines, forced left. Some outsized
 * kerning cleaned up via spans.
 */

header>h1 {
	color: #444;
	font-family: "ITCAmericanTypewriter";
	font-size: 9rem;
	line-height: 0.6em;
	text-align: left;
	text-transform: lowercase;
}

header>h1>span {
	display: block;
}

header>h1>span:first-child {
	padding-left: 0.75rem;
}

header>h1 span.tighten {
	letter-spacing: -0.04em;
}


h2 {
	font-weight: normal;
}


/*
 * Contact icons. Base is a single column for narrow screens,
 * progressing to 2x2 and then four across. Unit is rem so
 * icons will scale up with the text for accessibility.
 */

div#external-links {
	margin: auto;
	width: 6rem;
}

div#external-links img {
	width: 4rem;
	height: 4rem;
	margin: 0.5rem;
}

@media all and (min-width: 11rem) {
	div#external-links {
		width: 11rem;
	}
}

@media all and (min-width: 21rem) {
	div#external-links {
		width: 21rem;
	}
}
