@import "itc-american-typewriter.css";

body {
	margin: auto;
	min-width: 144px;
	max-width: 960px;
	text-align: center;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/**************************************
 * Header wordmark
 * Break into two lines, force lowercase and left align.
 **************************************/

header>h1 {
	color: #333;
	font-family: "ITCAmericanTypewriter";
	font-size: 22px;
	margin-left: 4px;
	line-height: 0.65em;
	text-align: left;
	text-transform: lowercase;
}

header>h1>span {
	display: block;   /* break into two lines */
}

header>h1>span:first-child {
	padding-left: 0.1em;   /* vertically align "i" with "o" */
}

header>h1 span.tighten {
	letter-spacing: -0.04em;   /* clean up some kerning */
}


@media all and (min-width: 144px) {
	header>h1 {   /* scale wordmark to screen width */
		font-size: 15vw;
		margin-left: 2vw;
	}
}


@media all and (min-width: 960px) {
	header>h1 {   /* stop scaling wordmark with screen width */
		font-size: 9rem;
		margin-left: 16px;
	}
}




/**************************************
 * Tagline
 **************************************/

h2 {
	font-weight: normal;
}


/**************************************
 * Contact/Social media icons
 **************************************/

div#external-links {
	margin: auto;
	width: 100px;
}

div#external-links img {
	width: 72px;
	height: 72px;
	margin: 6px;
}

@media all and (min-width: 200px) {
	div#external-links {  /* switch to 2x2 layout */
		width: 200px;
	}
}

@media all and (min-width: 400px) {
	div#external-links {  /* switch to four across */
		width: 400px;
	}
}
